<?xml version="1.0" encoding="utf-8" ?>
<configuration>
# ========== Unity Meta Files ==========
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryGame01/Library/
MemoryGame01/Temp/
MemoryGame01/Obj/

# ========== OS & IDE Files ==========
.DS_Store
.idea/
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.apk
*.aab


</configuration>
